:root {
  font-size: 62.5%;
  --width: 1200px;
  --shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  --white: #fafafa;
  --gray: #e5e7eb;
  --light-gray: #f3f4f6;
  --dark-gray: #9ca3af;
  --black: #171717;
  --light-black: #262626;
  --lighter-black: #404040;
  --red: #dc2626;
  --light-red: #ef4444;
  --green: #16a34a;
  --light-green: #22c55e;
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 40px;
}

/* CSS GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.btn {
  padding: var(--spacing-small);
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--black);
  color: var(--white);
  max-width: 20vh;
  min-width: 15vh;
  display: flex;
  justify-content: center;
  align-self: center;
}

.menu {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 200px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu h3 {
  margin-top: 0;
}

.menu button {
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

#add-project {
  background-color: #444;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px;
  flex: 1;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#task-list li h4 {
  margin: 0;
}

#task-list li p {
  margin: 5px 0 0;
}

.project-btn {
  background-color: white;
  color: black;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task-card {
  width: 400px;
  height: 200px;
  padding: 24px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 24px;
}

.task-content-container {
  display: flex;
  justify-content: space-between;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-content h2 {
  font-size: 2.4rem;
}

.task-content p {
  font-size: 1.4rem;
}

.delete {
  width: 24px;
  height: 24px;
}

#project-name {
  font-size: 3.2rem;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.project-modal {
  position: relative;
  width: 400px;
  max-width: 90%;
  height: 400px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-large);
  padding: var(--spacing-xlarge);
  border-radius: 4px;
}

#project-form-name {
  font-size: 1.6rem;
  padding: var(--spacing-xsmall);
  border-radius: 4px;
  border: solid 1px var(--dark-gray);
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.task-modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.task-modal {
  position: relative;
  width: 400px;
  max-width: 90%;
  height: 400px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-large);
  padding: var(--spacing-xlarge);
  border-radius: 4px;
}

.label-and-input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
}

.labelForm {
  font-size: 1.2rem;
  color: var(--lighter-black);
}

.delete {
  cursor: pointer;
  color: var(--red);
}
